@charset "utf-8";
/* CSS Document */

.footer-main {margin: 0 auto; width: 1000px; position:relative;}
.footer-main{background:url(../images/graficos/bg-footer.jpg) no-repeat center bottom #666; height:26px;}
.footer-main-top {padding-bottom: 0px; margin-top:45px;}
.footer-main-top-left{float:none; position:absolute; left:0; bottom:0;}
.footer-main #logo-footer{background:url(../images/graficos/logo-motor-footer2.png) no-repeat 0 0; width:104px; height:20px; 
	position:absolute; bottom:5px; left:10px; /*width:114px; background:url(../images/graficos/logo-motor-footer.png) no-repeat 0 0; left:400px; bottom:4px; */}
.footer-payment span {display:inline-block;}
.footer-pago-visa{width:66px; height:40px; background:url(../images/graficos/payment.png) no-repeat 0 0;}
.footer-pago-paypal{width:66px; height:40px; background:url(../images/graficos/payment.png) no-repeat -66px 0;}
.footer-bot-comprar{width:108px; height:40px; background:url(../images/graficos/payment.png) no-repeat right 0; position:absolute; left:520px; bottom:0;}
.footer-bot-comprar:hover{background:url(../images/graficos/payment.png) no-repeat right -40px; }
ul#enlaces-footer{margin-top:4px; margin-right:7px;}
ul#enlaces-footer a{color:#fff; }
#msg-no-estas-logueado{display:none;}
.footer-payment{display:none;}

