@charset "utf-8";
/* CSS Document */

.header a.logo {
	float: left;
	text-decoration: none !important;
	margin: 0;
	max-width: 264px; di
	height: 48px;
	padding-top: 1px;
}
.header .logo img {
	display: block;
	margin: 20px auto 0;
	border:none;
}

ul.header-top{position:absolute; top:0px; right:0; list-style:none;}
ul.header-top li{float:left; display:block; line-height:22px; padding:0 12px; border-right:1px solid #fff;}
ul.header-top li.ht-ultimo{padding-right:0; border-right:none;}
ul.header-top li a{color:#fff; font-weight:bold; display:block; line-height:22px;}
ul.header-top li a:hover{text-decoration:underline; color:#fff;}
ul.header-top li.ht-inicio a{background:url(../images/iconos/home.png) no-repeat 0 2px; padding-left:22px;}
ul.header-top li.ht-inicio a:hover{background:url(../images/iconos/home.png) no-repeat 0 -20px;}

.header-right {
	position:absolute;
	right:0;
	top:22px;
	height: 33px;
}