@charset "utf-8";
/* CSS Document */


.navegacion-paginas-container{margin-top:20px; text-align:center; height:24px;}
.navegacion-paginas-container span.pagingItemCurrent{font-weight:bold; color:#F00;}
.navegacion-paginas-container span{display:inline-block; margin-right:1px;}

.navegacion-paginas-container span a,
.navegacion-paginas-container span.pagingItemCurrent{
	display:inline-block; line-height:11px; padding:4px 6px 5px; background-color:#ccc; font-size:11px; font-weight:bold;
	-webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; color:#fff; 
}

#listado .navegacion-paginas-container span a:hover{background-color:#000; color:#fff;}
.navegacion-paginas-container span.pagingItemCurrent{background-color:#AB3131; cursor:auto; pointer-events: none;}
.navegacion-paginas-container span.desactivado a{background-color:#eee; cursor:auto; pointer-events: none;}

.navegacion-paginas-container span.nextPag a span{background:url(../images/graficos/flecha-doble.png) no-repeat -30px -269px; 
	display:inline-block; width:15px; height:11px;}
.navegacion-paginas-container span.prevPag a{background-image:url(../images/graficos/flecha-doble.png);
	background-repeat:no-repeat; background-position: -30px -663px; background-color:#ccc;	padding-left:20px;}
.navegacion-paginas-container span.prevPag a:hover{background-color:#aaa;}
