body {
	margin: 0px;
	min-height: 466px !important;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

.inputNumber2 {
	width: 3em;
}

.inputNumber4 {
	width: 5em;
}

#tool-bar {
	height: 63px;
	border-bottom: 1px solid rgba(0,0,0,0.71);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #f6f6f6;
	background: -o-linear-gradient(top, #ffffff, #cccccc);
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
}

#tool-bar p {
	font-size: 30px;
	float: left;
	margin: 12px 0px 0px 12px;
}

#container {
	float: right;
	margin: 21px 110px 0px 0px;
}

#footer {
	margin-top: 10px;
	background: #404040;
	position: relative;
	height: 68px;
}

#footer p {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

#login-box {
	position: relative;
	min-height: 100px;
	width: 1016px;
	margin: 0 auto;
	padding: 23px 0;
	background: #fff;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);	
	margin-top: 45px;
}

#login-box input {
	width:100%;
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);	
}

#formulario {
	width: 34%;
	margin: 0 auto;
}

#tableInstructables {
	min-height: 466px;
}

.divInstructable {
	width: 33%;
}

a {
	text-decoration: none;
	
}

#boton-enviar {
	margin-top: 10px;
}

#img-robot {
	margin: 13px 0px 0px 108px;
	position: absolute;
	z-index: 9999;
}

#logo-ins {
	margin: 11px 0px 0px 153px;
}

#error-login {
	color: red;
}

#bottom-bar {
	position: relative;
	top: -3px;
	height: 38px;
	background: #555;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid rgba(0,0,0,0.64);
	border-bottom: 1px solid rgba(0,0,0,0.64);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	z-index: 999;
	margin-bottom: 35px;
}

#anuncio-registro {
	color: ghostwhite;
	margin: 7px 39%;
}

#tool-bar-logueado {
	height: 63px;
	border-bottom: 1px solid rgba(0,0,0,0.71);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #f6f6f6;
	background: -o-linear-gradient(top, #ffffff, #cccccc);
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
	margin-bottom: 40px;
}

#tool-bar-logueado p {
	font-size: 30px;
	float: left;
	margin: 12px 0px 0px 12px;
}

#check-email {
	width: 20px !important;
}

#a-olvidado {
	margin-left: 25px;
}

#verPerfil {
	margin-top: 8%;
	margin-left: 42%;
}

.fila-seleccionada{
	background-color: blue;
}

.fadebox {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.overbox {
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	height: 70%;
	z-index:1002;
	overflow: auto;
}


#content {
    background: none repeat scroll 0 0 #ffffff;
    border: 3px solid #cccccc;
    padding: 10px;
}